h1{
	text-align:center;
	color:red;
}
#calculator{
	width: 200px;
	height: 230px;
	border:2px solid grey;
	text-align: center;
	background:#44C7F2;
	margin:0px auto;
}
#result{
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 170px;
	height: 25px;
	border:1px solid red;
}
.but{
	width: 41px;
	height: 35px;
	margin-left: 5px;
	margin-bottom: 10px;
	cursor:pointer;
}
#eq{
	width: 41px;
	height: 35px;
	margin-left: 5px;
	margin-bottom: 10px;
	cursor:pointer;
}